<div class="card">
    <div style="width: 200px;height: 200px;border-radius: 180px; background: thistle; margin: 0 auto;align-items: center;">
        <img style="width: 188px" src="https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099_1280.png" alt="" srcset="">
    </div>
    <h2>Order has Placed Sucessfully</h2>
    <strong style="margin-left: 32px;">Tankyou for shopping with popular e-commerce</strong>
    <h5 style="margin-top: 20px;margin-left: 40px;color: green;">Kindly Pay Amount <strong style="color: blue;">${{totalamount}}</strong> during delivery</h5>
</div>
